.btn-primary {
	background: #DE6C2D!important;
	border-radius: 5px;
	min-height: 50px;
	padding: 18px 30px;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	font-weight: 500;
	border: none;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.btn-primary i {
	margin-left: 20px;
}