.icon {
	display: inline-block;
}

.icon-play {
	width: 46px;
	height: 46px;
	background: url("../images/icons/icon-play.svg") no-repeat;
}

.icon-play:hover {
	background: url("../images/sprite.png") no-repeat 0 -255px;
}

.icon-business,
.icon-new-software-features,
.icon-new-software-featurestd-release-notes {
	width: 31px;
	height: 29px;
	background: url("../images/icons/icon-business.svg") no-repeat;
}

.icon-comment {
	width: 22px;
	height: 20px;
	background: url("../images/sprite.png") no-repeat 0 -167px;
}

.icon-comment:hover {
	background-position: 0 -146px;
}

.icon-product,
.icon-sending-money-abroad {
	width: 31px;
	height: 30px;
	background: url("../images/icons/icon-heartbeat.svg") no-repeat;
}

.icon-support,
.icon-software-comparison,
.icon-td-release-notes {
	width: 27px;
	height: 31px;
	background: url("../images/icons/icon-support.svg") no-repeat;
}

.icon-productivity,
.icon-managing-remote-teams {
	width: 27px;
	height: 30px;
	background: url("../images/icons/icon-productivity.svg") no-repeat;
}

.icon-arrow-right {
	width: 12px;
	height: 10px;
	background: url("../images/icons/icon-arrow-right.svg") no-repeat;
}

.icon-search {
	width: 24px;
	height: 22px;
	background: url("../images/sprite.png") no-repeat 0 0;
}

.icon-search:hover {
	background-position: 0 -188px;
}

.icon-productivity-dark {
	width: 22px;
	height: 20px;
	background: url("../images/icons/icon-productivity-dark.svg") no-repeat;
}

.icon-heartbeat-dark {
	width: 22px;
	height: 21px;
	background: url("../images/icons/icon-heartbeat-dark.svg") no-repeat;
}

.icon-support-dark {
	width: 22px;
	height: 22px;
	background: url("../images/icons/icon-support-dark.svg") no-repeat;
}

.icon-business-dark {
	width: 22px;
	height: 22px;
	background: url("../images/icons/icon-business-dark.svg") no-repeat;
}
